body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-player {
  width: 75vw !important;
  height: 99.7vh !important;
  z-index: 2;
  background-color: black !important;
}

@media only screen and (max-width: 920px) {
  .react-player {
    width: 100vw !important;
    height: 100vh !important;
  }
}